<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller.js">
	
</script>

</head>
<body>
	Esta é a index
	<hr>
	<a href="index.html">Home</a> |
	<a href="lista.html">Lista</a> |
	<a href="inserir.html">Inserir</a>

	<hr>
	<div ng-app="myApp" ng-controller="myCtrl">
		<form>
			Id: <br> <input type="number" ng-model="id" readonly> <br>
			Nome: <br> <input type="text" ng-model="nome" size="20"
				placeholder="Digite o serviço"> <br> Categoria: <br>
			<input type="text" ng-model="categoria" size="20"
				placeholder="Categoria"> <br> Data: <br> <input
				type="date" ng-model="data" required> <br> Status: <br>
			<input type="text" ng-model="pago" placeholder="True/False">
			<br>
			<button ng-click="salvar()">Salvar</button>
		</form>
	</div>
</body>
</html>